<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"/> -->

    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/pogo-slider.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/responsive.css">
{% block head %}
    <title>{{ title }}</title>
{% endblock head %}
</head>
<body id = "home">
<a href="/home" class="logo"><img src="../static/Refillr.png" alt="Logo"></a>
    <header class="header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container-fluid">
                <!--<a class="navbar-brand" href="main.html"><img src="Refillr.png" alt="image"></a>-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="/home">Home</a></li>
                        <li><a class="nav-link" href="about">About</a></li>
                        <li><a class="nav-link" href="/services">Services</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>




    <div class="carousel-default owl-carousel carousel-main carousel-nav-white background-dark text-center">
            <div class="item">
              <div class="s-12">
                <img src="../static/first.png" alt="">
                </div>
          </div>


{% block body %}
{% endblock body %}


    <div class="section layout_padding ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full center">
                        <div class="heading_main text_align_center">
                            <h2> AUTOMATE YOUR DOCUMENTATION</h2>
                            <p class="large">We provide the support to professionals to save time by automating repetitive and tedious tasks by filling and formatting forms for them</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section layout_padding theme_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 white_fonts">
                        <div class="full center">
                            <div class="heading_main text_align_center">

                                <h2> SERVICES</h2>
                                <p class="large">Our team with 25+ years of experience is perfectly suited to navigate you through: </p>
                                <br>
                                <div class ="full center">
                                <div class="card1" style="width: 18rem; float: left;">
                                          <a href="#" class="btn btn-primary">Divorce</a>
                                        </div>


                                <div class="card2" style="width: 18rem; float: left;">
                                          <a href="#" class="btn btn-primary">Immigration</a>
                                        </div>

                                      <div class="card3" style="width: 18rem;float: left;">
                                              <a href="#" class="btn btn-primary">Consumer Protection</a>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section layout_padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="full center">
                                <div class="heading_main text_align_center">
                                    <h2>SAFE & SECURE</h2>
                                    <p class="large">Using UiPath technology, we provide you with the ability to seamlessly complete the necessary information required for the appropriate documents. </p>
                                    <div class="full center">
                                    <p><a href="https://www.uipath.com/" class="hvr-radial-out button-theme">Learn more ></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    <div class="section layout_padding theme_bg">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-12 white_fonts">
                    <div class="full">
                        <div class="center">
                            <img src="../static/media.png" alt="#" height="30" width ="30" />
                        </div>
                        <div class="center">
                            <h4>Interactive</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 white_fonts">
                    <div class="full">
                        <div class="center">
                            <img src="../static/approval.png" alt="#" height="30" width = "30" />
                        </div>
                        <div class="center">
                            <h4>Automatic Approvals</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 white_fonts">
                    <div class="full">
                        <div class="center">
                            <img src="../static/thumbs.png" alt="#" height="30" width = "30"/>
                        </div>
                        <div class="center">
                            <h4>Guaranteed Satisfaction</h4>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <footer class="footer-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="col-lg-12 white_fonts">
                    <h4 class="text-align">Contact Us</h4>
                </div>
                <div class="margin-top_30 col-md-8 offset-md-2 white_fonts">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="full white_fonts text_align_center">
                                <p>Toronto & Montreal
                                    <br>Canada</p>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="full white_fonts text_align_center">
                                <p>Refillr@gmail.com </p>

                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="full white_fonts text_align_center">
                                <p>+1(800) 546-8373
                                    <br>+1(888) 673-4682</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="js/jquery.pogo-slider.min.js"></script> -->
    <script src="js/slider-index.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
</body>
</body>